<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
</head>
{{>header}}


<div class="container mt-4"> 
<h2>all ticket submited</h2>
</div>
 {{#each ticket}}
        <div class="container mt-4"> 
            <div class="card mb-3">
                <h3 class="card-header">ticket {{id}}</h3>
                <div class="card-body">
                    <h5 class="card-title">{{fName}} {{lName}}</h5>
                    <h6 class="card-subtitle text-muted">Question:</h6>
                    <p class="card-text">{{question}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Contact:</li>
                    <li class="list-group-item">{{email}}</li>
                    <li class="list-group-item">{{number}}</li>
                </ul>

                <div class="card-footer text-muted">
                       posted {{create_date}}
                </div>
                </div>
            </div>
    {{/each}}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>